.navbarContainer {
  padding: 10px;
  font-size: 1.5rem;
  color: rgb(147, 106, 118);
  font-family: "Crimson Text", serif;
  background-color: white;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  // font-family: 'Raleway', sans-serif;
  > :nth-child(1) {
    width: 30%;
  }
  > :nth-child(2) {
    width: 70%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    > ul {
      width: 100%;
      // background-color: navajowhite;
      list-style: none;
      display: flex;
      gap: 2rem;
      justify-content: flex-end;
    }
  }
}
